body {
  margin: 0;
  font-family: "Roboto", "Arial";
  background-image: url("/public/images/blue-sky.jpeg");
  background-size: cover;
  height: 100vh;
}

.app--container {
  max-width: 1080px;
  margin: 20px auto;
}

.search {
  margin: auto 5px;
}
